@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GCMDB!</h1>
    <p><a href="/MovieRegistration" class="btn-primary">Register a Movie</a></p>
</div>